@import 'normalize.css';

/* inter-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/inter-v18-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

/* material-symbols-outlined-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: 'Material Symbols Outlined';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/material-symbols-outlined-v241-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
       url('../fonts/material-symbols-outlined-v241-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

.material-symbols-outlined {
  font-family: 'Material Symbols Outlined', sans-serif !important;
  font-weight: normal;
  font-style: normal;
  font-size: 24px; /* ou la taille que tu veux */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  white-space: nowrap;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fff;
  color: #333;
  min-width: 580px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
  width: 100%;
}

nav img {
  user-select:none;
}

button.material-symbols-outlined {
  background-color: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

nav .material-symbols-outlined {
  font-size: 40px;
  color: #333;
  transition: color 0.2s ease;
  cursor: pointer;
  user-select:none;
}

nav .material-symbols-outlined:hover {
  color: #188794;
}

.text-primary {
  color: #188794;
}

.hover-red:hover {
  color: red !important;
}

.hover-primary:hover {
  color: #188794 !important;
}

.hover-black:hover {
  color: #333 !important;
}

.hover-brightness-115:hover {
  filter: brightness(115%) !important;
}

.hover-brightness-130:hover {
  filter: brightness(130%) !important;
}

.color-primary {
  color: #188794 !important;
}

.menu-clair {
  background-color: #FCFCFC;
  color: #333;
}

.menu-fonce {
  background-color: #676767;
  color: #fff;
}


div[data-testid$="-dialog"] {
  position: fixed;
}

circle[fill="#57ff8f"], rect[fill="#57ff8f"], path[fill="#57ff8f"] {
  fill: #FFFF7F;
  stroke: #FFFF7F;
}